* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white !important;
  font-size: 100%;
}

h2 {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.background {
  background: linear-gradient(to right, #00a8ff 50%, #ff6b81 50%);
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
}

.spacing {
  margin-top: 5%;
}

.block {
  width: 17vh !important;
  height: 8vh !important;
  font-size: 3vh !important;
  color: white !important;
  border-color: white !important;
}

.word-button {
  color: black !important;
  width: 12vh !important;
  height: 6vh !important;
}

.flex-parent {
  display: flex;
}

.left-btn {
  margin-right: 10vh;
}

.cw-btn-margin {
  margin-right: 10vh;
}

.jc-center {
  justify-content: center;
}

.big {
  font-size: 4rem;
}

.wordBg {
  background: #222f3e;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.timer {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30em;
  padding-top: 0;
  width: 100%;
  height: 100%;
}

.timer div {
  border: 1px solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;
}

section p:first-child, .timer div span {
  font-size: 3em;
}

@media screen and (max-width: 480px) {
  .timer div {
    margin-left: 1em;
    margin-right: 1em;
    padding: 3em 1em;
  }
}
